.team_details_container {
    margin-top: 100px;
}

.team_details_heading {
background-size: contain;
background-repeat: no-repeat;
background-position: center;
height: 250px;
box-shadow: 5px 5px 15px black;
padding: 30px;
text-transform: uppercase;
}

.team_details_stats {
    margin-top: 15px;
    padding: 15px;
}

/* team details page*/
.allWins {
color: green;
}

.allLosses {
color: red;
}

.gamePlayed {
    display: flex;
    flex-wrap: wrap;
}

.gamePlayed .gameData {
    border: 1px solid black;
    width: 100%;
    margin: 5px;
    padding: 10px;
}

.gameData {
    display: flex;
    justify-content: space-between;
}

/*  player stats in team.ejs */
.player_stats {
    display: flex;
    justify-content: space-evenly;
}

.player_stats p {
    display: inline-block;
    background-color: rgb(240, 228, 228);
    padding: 10px;
}

.player_stats p span {
    font-weight: bold;
    background-color: white;
    padding: 5px;
    font-size: 18px;
}