<%- include("../partials/header.ejs") %>

    <div class="container">
        <div class="all_games_container">
            <h5>Games</h5>

            <div class="row game">
                <div class="col-2 left">
                    <img src="/images/ball.png" width="100px" alt="basketball">
                </div>
                <div class="col-10 right">
                    <div class="team">
                        <a class="for_center" href="">Dallas</a>
                    </div>
                    <div class="result">
                        <span class="for_center">100:400</span>
                    </div>
                    <div class="team">
                        <a class="for_center" href="">Boston</a>
                    </div>
                </div>
            </div>



        </div>
    </div>



    <%- include("../partials/footer.ejs") %>